In [ ]:
#고양이와 개는 몇 마리 있을까

SELECT ANIMAL_TYPE, COUNT(*)
FROM ANIMAL_INS
WHERE ANIMAL_TYPE IN ('Cat','Dog')
GROUP BY ANIMAL_TYPE
ORDER BY ANIMAL_TYPE

In [ ]:
#입양 시각 구하기(1)

SELECT HOUR(DATETIME) AS HOUR, COUNT(*)
FROM ANIMAL_OUTS
WHERE DATE_FORMAT(DATETIME,'%H') BETWEEN 9 AND 19
GROUP BY HOUR
ORDER BY HOUR

# 실행순서 FROM - WHERE - GROUP BY - HAVING - SELECT - ORDER BY
# AS는 GROUP BY절 이후부터 인식하기 때문에 WHERE절에서 사용할수 없다.

SELECT HOUR(DATETIME) AS HOUR, COUNT(*)
FROM ANIMAL_OUTS
GROUP BY HOUR
HAVING HOUR BETWEEN 9 AND 19
ORDER BY HOUR

In [ ]:
#입양 시각 구하기(2)

SET @HOUR := -1;

SELECT (@HOUR := @HOUR+1) AS HOUR, 
(SELECT COUNT(*) FROM ANIMAL_OUTS WHERE HOUR(DATETIME)=@HOUR) AS COUNT
FROM ANIMAL_OUTS
WHERE @HOUR <23
ORDER BY HOUR

# := 대입, = 비교연산자