In [ ]:
# 경기도에 위치한 식품창고 목록 출력하기

SELECT WAREHOUSE_ID, WAREHOUSE_NAME, ADDRESS, 
IF (FREEZER_YN IS NULL, 'N',FREEZER_YN) AS FREEZER_YN
FROM FOOD_WAREHOUSE
WHERE ADDRESS LIKE "경기도%"
ORDER BY WAREHOUSE_ID

In [ ]:
# 이름 없는 동물의 아이디

SELECT ANIMAL_ID
FROM ANIMAL_INS
WHERE NAME IS NULL
ORDER BY ANIMAL_ID

# 이름 있는 동물의 아이디

SELECT ANIMAL_ID
FROM ANIMAL_INS
WHERE NAME IS NOT NULL
ORDER BY ANIMAL_ID

In [ ]:
# NULL 처리하기

SELECT ANIMAL_TYPE, IF (NAME IS NULL, "No name",NAME) AS NAME, SEX_UPON_INTAKE
FROM ANIMAL_INS
ORDER BY ANIMAL_ID

In [ ]:
# IS NULL

SELECT COUNT(*) AS USERS
FROM USER_INFO
WHERE AGE IS NULL