In [ ]:
# 조건에 맞는 도서와 저자 리스트 출력하기

SELECT BOOK_ID, AUTHOR_NAME, DATE_FORMAT(PUBLISHED_DATE,"%Y-%m-%d") AS PUBLISHED_DATE
FROM BOOK B
INNER JOIN AUTHOR A
ON A.AUTHOR_ID=B.AUTHOR_ID
WHERE B.CATEGORY='경제'
ORDER BY PUBLISHED_DATE

In [ ]:
# 그룹별 조건에 맞는 식당 목록 출력하기

SELECT MEMBER_NAME, REVIEW_TEXT, DATE_FORMAT(REVIEW_DATE,"%Y-%m-%d") AS REVIEW_DATE
FROM REST_REVIEW
LEFT JOIN MEMBER_PROFILE
ON MEMBER_PROFILE.MEMBER_ID=REST_REVIEW.MEMBER_ID
WHERE MEMBER_PROFILE.MEMBER_ID = (SELECT MEMBER_ID
                    FROM REST_REVIEW
                    GROUP BY MEMBER_ID
                    ORDER BY COUNT(*) DESC
                    LIMIT 1)
ORDER BY 3,2

In [ ]:
# 있었는데요 없었습니다

SELECT I.ANIMAL_ID, I.NAME
FROM ANIMAL_INS I
JOIN ANIMAL_OUTS O
ON I.ANIMAL_ID=O.ANIMAL_ID
WHERE I.DATETIME > O.DATETIME
ORDER BY I.DATETIME