In [ ]:
# 상품 별 오프라인 매출 구하기

SELECT PRODUCT_CODE, (SUM(SALES_AMOUNT)*PRICE) AS SALES
FROM PRODUCT P
JOIN OFFLINE_SALE O
ON P.PRODUCT_ID=O.PRODUCT_ID
GROUP BY PRODUCT_CODE
ORDER BY SALES DESC, PRODUCT_CODE

In [ ]:
# 없어진 기록찾기

SELECT ANIMAL_ID,NAME
FROM ANIMAL_OUTS
WHERE (ANIMAL_ID,NAME) NOT IN (SELECT ANIMAL_ID,NAME
                              FROM ANIMAL_INS)
ORDER BY ANIMAL_ID
--------
SELECT O.ANIMAL_ID, O.NAME
FROM ANIMAL_OUTS O
LEFT JOIN ANIMAL_INS I
ON O.ANIMAL_ID = I.ANIMAL_ID
WHERE I.ANIMAL_ID IS NULL
ORDER BY ANIMAL_ID

In [ ]:
# 보호소에서 중성화한 동물

SELECT A.ANIMAL_ID, A.ANIMAL_TYPE, A.NAME
FROM ANIMAL_INS A
JOIN ANIMAL_OUTS B
ON A.ANIMAL_ID=B.ANIMAL_ID
WHERE SEX_UPON_INTAKE LIKE 'intact%' AND SEX_UPON_OUTCOME NOT LIKE 'intact%'
ORDER BY 1