In [ ]:
# 가장 비싼 상품 구하기

SELECT MAX(PRICE) AS MAX_PRICE
FROM PRODUCT

In [ ]:
# 가격이 제일 비싼 식품의 정보 출력하기

SELECT *
FROM FOOD_PRODUCT
WHERE PRICE = (SELECT MAX(PRICE) FROM FOOD_PRODUCT)

In [ ]:
# 최댓값 구하기

SELECT MAX(DATETIME)
FROM ANIMAL_INS

# 최솟값 구하기

SELECT MIN(DATETIME)
FROM ANIMAL_INS

In [ ]:
# 동물수 구하기

SELECT COUNT(*)
FROM ANIMAL_INS

In [ ]:
# 중복제거하기

SELECT COUNT(DISTINCT NAME)
FROM ANIMAL_INS
WHERE NAME IS NOT NULL